{% for zone in zones %} 

zone "{{ zone.name_zone }}" {
        type master;
        file "/etc/bind/db.{{ zone.name_zone }}";
        notify yes;
        allow-transfer { {{ zone.ip }}; };
        allow-update { key rndc-key; };
};

{% endfor %}
